* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

#all-page {
    background-color: #F1F1F3;
}

.btn {
    padding: 17px 34px;
    color: white;
    font-weight: 700;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
}

header nav {
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav-content a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

#hero-section {
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
}

#hero-section .hero-container {
    background-color: #C6E4D6;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    border-radius: 24px;

}

.hero-container .hero-content {
    max-width: 622px;

}

.hero-container .hero-content p {
    color: #0e0e0e7a;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-container .hero-content h1 {
    font-size: 3.3rem;
    font-weight: 800;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.hero-container .hero-content button {
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;

}

.hero-container .hero-content button a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.hero-container .hero-png img {
    max-width: 474px;
    width: 100%;

}

/* pillar of bangladesh */

#main-section {
    max-width: 1280px;
    margin: 0 auto;
}

.card-title {
    display: flex;
}

.pillar-of-bd {
    margin: 80px 0;
}

.pillar-of-bd h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 2rem;
}

.pillar {
    max-width: 302px;
    box-shadow: 0px 0px 4px 2px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.pillar:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    background-color: #ceba8c;
    cursor: pointer;
}

.pillar-container div {
    padding: 24px;
}

.pillar-container div img {
    max-width: 64px;
    width: 100%;
    margin-bottom: 24px;
}

.pillar-container div h4 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #0E0E0E;
}

.pillar-container div p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}

.pillar-container {
    display: flex;
    justify-content: space-between;

}

/* the vision of future */

#vision {
    margin-bottom: 80px;
}

.section-title h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.section-title p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: #0E0E0E;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}


.card {
    max-width: 380px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}

/* .card:hover {
    transform: scale(1.05);
    transition: all 0.05s ease-in;
    cursor: pointer;
} */

.card-2 {

    background-color: #C6E4D6;

}

.card-3 {
    background-color: rgba(247, 235, 207, 1);
}

.card div {
    padding: 32px;
}

.card div img {
    width: 100%;
    max-width: 64px;
    margin-bottom: 24px;
}

.card div h4 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.card div p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: #5490F5;
    color: #FFFFFF;
}

.btn:hover {
    transform: scale(1.05);
    transition: all;
    cursor: pointer;
}

.btn-2 {
    background-color: #09A15C;
}

.btn-3 {
    background-color: #FFC239;
}


.description-of-vision {
    padding: 48px 24px;
    box-shadow: 0px 0px 4px 4px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.description-of-vision p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
}

.description-of-vision h4 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
    color: #0E0E0E;
    margin-top: 12px;
    margin-bottom: 4px;

}


/* Opinion-section  */
#Opinion-section {
    margin: 80px 0px;
}

#Opinion-section table {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 12px;
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.322);
    border-radius: 16px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

}

#Opinion-section .questions-container table {
    td {
        border: 1px solid rgba(126, 122, 131, 0.356);
    }

    .question-col {
        width: 70%;
    }

    .select-col {
        width: 30%;
    }

    th,
    td {
        padding: 24px;
    }

    th {
        background-color: #C6E4D6;
        text-align: left;
        font-size: 1.3rem;
        font-weight: 600;
        color: #0E0E0E;
    }

    td {
        background-color: rgba(255, 255, 255, 0.1);
        font-size: 1rem;
        font-weight: 600;
        color: #0E0E0E;
    }

    .option {
        border: 1px solid rgba(14, 14, 14, 1);
        border-radius: 4px;
        background-color: rgba(9, 161, 92, 0.15);
        font-size: 1rem;
        font-weight: 500;
        color: #0E0E0E;
        padding: 12.5px 16px;
        outline: none;
        width: 152px;

    }

}

/* Satellite of Bangladesh  */
.Satellite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    box-shadow: 0px 0px 3px 3px rgba(14, 14, 14, 0.13);
    padding: 56px 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.Satellite .satellite-img img {
    border-radius: 24px;
    max-width: 408px;
}

.Satellite .satellite-content {
    /* padding: 10px; */
}

.Satellite .satellite-content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 12px;
}

.Satellite .satellite-content img {
    max-width: 134px;
    margin-bottom: 12px;
}

.Satellite .satellite-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
}

.btn-4 {
    background-color: #006A50;
}


/* Donate section  */

.donate-section {
    padding: 80px 0px;
}

.money-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 32px;
}

.money-card {
    text-align: center;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.money-card:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.donate-section input {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-size: 1.4rem;
    border: none;
    outline: none;
    box-shadow: 1px 0px 2px 1px rgba(14, 14, 14, 0.15);
}

/* newsletter section */

.Newsletter-section {
    background-color: #C6E4D6;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 24px;
    margin-bottom: 80px;
}

.Newsletter-container {
    padding: 80px 0px;
    text-align: center;
}

.Newsletter-container input {
    max-width: 600px;
    padding: 18px;
    border: none;
    outline: none;
}

/* footer section  */
footer {
    background-color: #FFFFFF;
    text-align: center;
}

.footer-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 0px;
}

.footer-content hr {
    /* max-width: 1122px; */

    margin: 32px auto;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

footer ul li {
    list-style: none;
    max-width: 24px;
}

footer ul li a i:hover {
    transform: scale(1.1);
    transition: all ease;
    filter: grayscale(100%);
}











/* style for small device  */
@media screen and (max-width: 576px) {

    .nav-content,
    .hero-container,
    .pillar-container {
        flex-direction: column;

    }

    .hero-container .hero-content h1 {
        font-size: 2rem;

    }

    .card-title {
        justify-content: center;
    }

    .pillar-container {
        align-items: center;
        gap: 12px;

    }

    .card-container {
        flex-direction: column-reverse;
        margin-bottom: 16px;
        gap: 12px;
        align-items: center;
    }


    .section-title {
        text-align: center;
        margin: 0px 10px;
    }

    .description-of-vision {
        margin: 0px 10px;
    }

    #Opinion-section {
        /* margin: 20px; */
        /* max-width: 350px; */
    }

    #Opinion-section .questions-container table {
        .option {
            width: 80px;

        }

    }

    #recent-news {
        padding: 20px;
    }

    .Satellite {
        flex-direction: column;
        gap: 32px;
        padding: 20px 20px;
    }

    .description-of-vision {
        padding: 48px 5px;

    }

    .Satellite .satellite-img img {
        width: 100%;
    }

    .donate-section {
        padding: 20px;
    }

    .money-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-bottom: 32px;
    }

    .Newsletter-section {
        margin: 10px;
    }

    #Opinion-section {
        padding: 10px;
    }

    #vision {
        margin: 10px;
    }

    .pillar-of-bd .card-title h3 {
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav-content,
    .hero-container{
        flex-direction: column;
    }

}